.odd{
    font-family: Verdana, "DejaVu Sans", sans-serif;
    background-color: rgb(255,167,167);
}
#p2{
    font-size: 36px; 
    color: blue;
}
#p4{
    font-size: 24px;
    background-color: lightgreen;
    font-weight: bold;
}